---
const year = new Date().getFullYear();
---

<footer>
    <p>&copy; {year} Fuera.</p>
    <div class="socials">
        <a href="https://instagram.com/fuera">Instagram</a>
        <a href="https://twitter.com/fuera">Twitter</a>
        <a href="https://youtube.com/fuera">YouTube</a>
    </div>
</footer>

<style>
    footer {
        padding: 2rem;
        background-color: var(--primary-black);
        color: var(--neutral-white);
        text-align: center;
    }
    .socials a {
        color: var(--neutral-white);
        margin: 0 1rem;
    }
</style>
