---
import { images } from "./ImagePaths";
---

<section id="gallery" class="gallery">
    <h2>Galería de Fotos</h2>
    <div class="gallery-container">
        {images.map((image) => (
            <img src={image} decoding="async" loading="lazy" alt="Foto banda" class="gallery-item" />
        ))}
    </div>

    <div class="image-modal" id="imageModal">
        <span class="close"></span>
        <img decoding="async" loading="lazy" class="modal-content" id="modalImage" />
    </div>
</section>

<script is:inline>
    document.addEventListener("astro:page-load", () => {
        const modal = document.getElementById("imageModal");
        const modalImg = document.getElementById("modalImage");
        const closeBtn = document.querySelector(".close");
        const galleryItems = document.querySelectorAll(".gallery-item");

        // Abrir el modal cuando se hace clic en una imagen
        galleryItems.forEach((item) => {
            item.addEventListener("click", () => {
                modal.style.display = "flex";
                const imgSrc = item.getAttribute("src");
                modalImg.setAttribute("src", imgSrc);
            });
        });

        // Cerrar el modal cuando se hace clic en la 'x'
        closeBtn.addEventListener("click", () => {
            modal.style.display = "none";
        });

        // Cerrar el modal cuando se hace clic fuera de la imagen
        modal.addEventListener("click", (e) => {
            if (e.target !== modalImg) {
                modal.style.display = "none";
            }
        });
    });
</script>

<style>
    /* Galería */
    .gallery {
        padding: 3rem 2rem;
        text-align: center;
    }

    .gallery h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 3rem;
        color: var(--secondary-red);
    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .gallery-item {
        width: 100%;
        height: 250px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .gallery-item:hover {
        transform: scale(1.05); /* Pequeño efecto al pasar el ratón */
    }

    /* Modal (zoom) */
    .image-modal {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        max-width: 90%;
        max-height: 90%;
        margin: auto;
        display: block;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: white;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }

    .close::before {
        content: "\d7";
    }

    .close:hover,
    .close:focus {
        color: #bbb;
    }

    @media (max-width: 768px) {
        .gallery {
            padding: 3rem 1rem;
        }

        .gallery h2 {
            font-size: 2rem;
        }

        .gallery-container {
            grid-template-columns: 1fr;
        }
    }
</style>
