---

---

<section id="hero" class="hero">
  <div class="hero-content">
    <img src="/assets/logo.png" width="400" height="auto" decoding="async" loading="lazy" alt="Logo">
    <p><i>El mejor sonido de rock alternativo.</i></p>
  </div>
</section>

<style>
  .hero {
    height: 80vh;
    background: url("/assets/banda.jpg") no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--neutral-white);
    font-size: 2.5rem;
  }

  .hero-content {
    max-width: 80%;
    margin: 0 auto;
  }

  .hero-content p {
    font-size: 1.5rem;
  }

  /* Media Queries */

  /* Para pantallas medianas (tabletas en modo horizontal y laptops) */
  @media (min-width: 768px) and (max-width: 1199px) {
    .hero {
      padding: 4rem;
    }

    .hero-content {
      max-width: 90%;
    }

    .hero-content h1 {
      font-size: 2.5rem;
    }

    .hero-content p {
      font-size: 1.25rem;
    }
  }

  /* Para pantallas pequeñas (tabletas en modo vertical y móviles) */
  @media (max-width: 767px) {
    .hero {
      height: 60vh;
      padding: 2rem;
    }

    .hero-content img {
      width: 300px;
    }

    .hero-content p {
      font-size: 1rem;
    }
  }
</style>
