---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html transition:animate="none" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main transition:animate={fade({ duration: '0.2s' })}>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--primary-black: #000000;
		--secondary-red: #C70039;		;
		--neutral-white: #F5F5F5;
		--dark-gray: #1a1a1a;
		--accent-gold: #FFC300;
		--gradient-color: linear-gradient(357deg, #000000 0%, #C70039 80%);
		--header: 'Anton', serif;
		--body: 'Lato', sans-serif;
	}
	
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 50px;
	}

	body {
		margin: 0 auto;
		text-align: justify;
		font-family: var(--body);
		background-color: var(--dark-gray);
	}

	h1, h2, h3 {
		font-family: var(--header);
	}
</style>
